.min-h-screen{
    min-height:100vh;
}

.bg-red{
    background-color:red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}
.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.font-bold{
    font-weight: bold;
}

.font-blue{
    color: rgb(168 88 173);
}

.btn{
    padding: 4px 12px;
    border: 2px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(168 88 173);
}

.text-center{
    text-align: center;
}
